
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%),url("/Scripts/css/images/image.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}


.panel-transparent {
    background: none;
}


.search {
    outline: none;
    border-color: #4195fc;
    box-shadow: 0 0 10px #4195fc;
    border: 5px;
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 45px;
}

.rowSearch {
    margin: 10px;
}

footer {
    color: #fff;
    margin-top: 140px;
}

.semiopacity {
    opacity: 0.7; /* Полупрозрачный фон */
    filter: alpha(Opacity=70); /* Прозрачность в IE */
}
