<div ng-controller="detailsController" ng-init="getDetailedInfo()">
    <toaster-container></toaster-container>
    <div class="container">
        <div class="row" style="margin-top:180px">
            <label style="color:white; font-size:120%">{{detailedBook.book.title}}</label>
        </div>
    </div>
</div>