<div ng-controller="searchController" ng-init="getSearchItems()" cg-busy="[getSearchItemsPromise]">
    <toaster-container></toaster-container>
    <div class="container">
        <div class="row" style="margin-top:180px">
        </div>
    </div>
</div>