<div ng-controller="searchController">
    <toaster-container></toaster-container>
    <div class="container" ng-if="isHomePage" cg-busy="[getSearchItemsPromise]">
        <div class="row" style="margin-top:180px">
            <div class="well panel-transparent">
                <h1>
                    <span class="panelBody">Here you can find information that you need</span>
                </h1>
                <div class="row rowSearch">
                    <div class="input-group">
                        <input type="text" class="form-control search" placeholder="Find Books, Writers, Publishers and more..." ng-model="searchText" autofocus>
                        <span class="input-group-btn">
                            <button class="btn btn-primary btn-lg searchButton" type="button" ng-click="search(searchText)"><span class="glyphicon glyphicon-search"></span></button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" ng-if="isSearchResultPage" cg-busy="[getBookDetailsPromise]">
        <div class="well panel-transparent" ng-if="books.length!=0" style="margin-top:50px">
            <h1>
                <span>Books</span>
            </h1>
            <div class="well searchContent " ng-repeat="book in books">
                <div class="row">
                    <div class="col-md-4">
                        <img ng-src="~/Scripts/css/images/{{book.imageName}}" height="400" width="300" />
                        <button class="btn btn-primary detailsButton" ng-click="getBookDetails(book)" style=""><i class="glyphicon glyphicon-info-sign" aria-hidden="true"></i> Details</button>
                    </div>
                    <div class="col-md-6">
                        <div class="imageDetails">
                            <label class="one" style="color:white; font-size:150%">{{book.title}}</label>
                            <hr />
                            <label class="two" style="color:white; font-size:120%">{{book.description}}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="well panel-transparent" ng-if="writers.length!=0" style="margin-top:50px">
            <h1>
                <span>Writers</span>
            </h1>
            <div class="well searchContent" ng-repeat="writer in writers" style="">
                <div class="row">
                    <div class="col-md-4">
                        <img class="" ng-src="~/Scripts/css/images/{{writer.imageName}}" height="400" width="300" />
                    </div>
                    <div class="col-md-4">
                        <label style="color:white; font-size:120%">{{writer.fullName}}</label>
                        <br />
                        <label style="color:white; font-size:120%">Birthdate: {{writer.birthDate}}</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="well panel-transparent" ng-if="publishers.length!=0" style="margin-top:50px">
            <h1>
                <span>Publishers</span>
            </h1>
            <div class="well searchContent" ng-repeat="publisher in publishers" style="">
                <div class="row">
                    <div class="col-md-4">
                        <img ng-src="~/Scripts/css/images/{{publisher.imageName}}" height="400" width="300" />
                    </div>
                    <div class="col-md-4">
                        <label style="color:white; font-size:120%">{{publisher.title}}</label>
                        <br />
                        <label style="color:white; font-size:120%">City: {{detailedBook.publisher.city}}</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" ng-if="noItemsFound">
        <div class="row" style="margin-top:180px">
            <div class="well panel-transparent">
                <h1>
                    <span class="panelBody">No Items was found. Try again with another search parametr</span>
                </h1>
            </div>
        </div>
    </div>
</div>

<style>
    .detailsButton {
        margin-top: 10px;
        bottom: 5px;
        display: block;
        width: 300px;
    }


    h1 {
        text-align: center;
    }

        h1 span {
            color: white;
            font-family: "Courier", "monospace";
            font-size: 120%;
        }

    input[placeholder] {
        color: white;
        font-family: "Courier", "monospace";
        font-size: 120%;
    }

    .searchContent {
        margin-top: 10px;
        background-color: rgba(0, 0, 0, 0.25);
    }

    .searchButton {
        background: rgba(0, 0, 0, 0);
        box-shadow: 0px 0px 20px 3px #4195fc;
    }
</style>