<div ng-controller="searchController">
    <toaster-container></toaster-container>
    <div class="container" ng-if="isHomePage">
        <div class="row" style="margin-top:180px">
            <div class="well panel-transparent">
                <h1>
                    <span class="panelBody">Here you can find information that you need</span>
                </h1>
                <div class="row rowSearch">
                    <div class="input-group">
                        <input type="text" class="form-control search" placeholder="Find Books, Writers, Publishers and more..." ng-model="searchText" autofocus>
                        <span class="input-group-btn">
                            <button class="btn btn-success btn-lg" type="button" ng-click="search(searchText)"><span class="glyphicon glyphicon-search"></span></button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" ng-if="isSearchResultPage" cg-busy="[getSearchItemsPromise]">
        <div class="well panel-transparent" ng-if="books.length!=0" style="margin-top:50px">
            <h1>
                <span>Books</span>
            </h1>
            <div class="well searchContent" ng-repeat="book in books" style="">
                <div class="row">
                    <div class="col-md-4">
                        <img ng-src="~/Scripts/css/images/{{imageName}}" height="400" width="300" />
                    </div>
                    <div class="col-md-4">
                        <label style="color:white; font-size:120%">{{book.title}}</label>
                    </div>
                </div>
                @*<label style="color:white; font-size:120%">{{book.title}}</label>*@
            </div>
        </div>
        <div class="well panel-transparent" ng-if="writers.length!=0" style="margin-top:50px">
            writers
        </div>
        <div class="well panel-transparent" ng-if="publishers.length!=0" style="margin-top:50px">
            publishers
        </div>
    </div>
</div>

<style>
    h1 {
        text-align: center;
    }

        h1 span {
            color: white;
            font-family: "Courier", "monospace";
            font-size: 120%;
        }

    input[placeholder] {
        color: white;
        font-family: "Courier", "monospace";
        font-size: 120%;
    }

    .searchContent {
        margin-top: 10px;
        background-color: rgba(0, 0, 0, 0.25);
    }
</style>