<div ng-controller="controller" ng-init="getOrders()" >
    <toaster-container></toaster-container>
    <input  type="text" class="form-control" ng-model="text" />
    <button class="btn btn-default" ng-click="post()"></button>
</div>

